<ngx-skeleton-loader
  animation="progress"
  [theme]="{ 
    'height.px': 56,
    'margin-top.px': 12,
  }" 
/>

<ngx-skeleton-loader
animation="progress"
[theme]="{ 
  'height.px': 152,
  'margin-top.px': 12,
  }" 
/>

<ngx-skeleton-loader
  animation="progress"
  [theme]="{ 
    'margin-top.px': 12,
    'height.px': 56,
  }" 
/>

<div class="form-loader-actions">
  <ngx-skeleton-loader
  appearance="circle"
  animation="progress"
  [theme]="{ 
      'margin-top.px': 12,
      'height.px': 36,
      'width.px': 36,
    }" 
  />
  
  <ngx-skeleton-loader
    animation="progress"
    [theme]="{ 
      'height.px': 36,
      'width.px': 84,
    }" 
  />
</div>